# PostgreSQL connection string for Prisma
DATABASE_URL=postgresql://postgres.pixamocanajyybrbmjbu:Gentletiger@aws-1-eu-west-1.pooler.supabase.com:6543/postgres

# Default fallback port for local dev
PORT=3000
